<footer class="footer">
  <div align="center">
    <br>
    <%= current_year %>
    <br>
    AlexSura <br>
    <%= github_url('AlexSura', 'Thinknetica_Rails') %><br>
    <%= link_to 'Учебный проект в онлайн школе Thinknetica', 'https://thinknetica.com', target: '_blank' %>
  </div>
</footer>
