<div class = "nav user">
  <% if logged_in? %>
    <p>Welcome, <b><%= current_user.name %></b> Guru </p>
    <p><%= link_to 'Exit', session_path(session),
                    method: :delete,
                    data: { confirm: 'Arw you shoe?'} %></p>
  <% else %>
    <p> <%= link_to 'Log in', session_index_path %></p>
    <p> <%= link_to 'Sing uo', signup_path %></p>
  <% end %>  
</div>
